@import url('https://fonts.googleapis.com/css2?family=Allura&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

:root {
    --primary: #FF4646;
    --primary10: #FF46461A;
    --dark: #181C29;
    --white: #FFFFFF;
    --white40: #FFFFFF66;
    --white20: #FFFFFF33;
    --content-bg: #ECF3F8;
    --purple: #4361FF;
    --pink: #FF43F7;
    --green: #06A44F;
    --overlay: #181C29CC;
    --border-radius: 20px;
}

body {
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    background: var(--white);
    color: var(--dark);
    overflow-x: hidden;
}

/* Container */

.container {
    max-width: 1440px;
    margin: 0 auto;
    background: var(--primary);
    padding: 3rem 8.2rem;
}

/* ============
Global Styles
==============*/

img {
    max-width: 100%;
    display: block;
}

ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

ul a {
    text-decoration: none;
    border: none;
    outline: none;
    cursor: pointer;
    color: var(--dark);
}

a {
    text-decoration: none;
    transition: all .3s ease;
}