@import url('https://fonts.googleapis.com/css2?family=Allura&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

:root {
    --primary: #FF4646;
    --primary10: #FF46461A;
    --dark: #181C29;
    --white: #FFFFFF;
    --white40: #FFFFFF66;
    --white20: #FFFFFF33;
    --content-bg: #ECF3F8;
    --purple: #4361FF;
    --pink: #FF43F7;
    --green: #06A44F;
    --overlay: #181C29CC;
    --border-radius: 20px;
}

body {
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    background: var(--white);
    color: var(--dark);
    overflow-x: hidden;
}

/* Container */

.container {
    max-width: 1440px;
    margin: 0 auto;
    background: var(--primary);
    padding: 3rem 8.2rem;
}

/* ============
Global Styles
==============*/

img {
    max-width: 100%;
    display: block;
}

ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

ul a {
    text-decoration: none;
    border: none;
    outline: none;
    cursor: pointer;
    color: var(--dark);
}

a {
    text-decoration: none;
    transition: all .3s ease;
}

/* ============
Typography
==============*/

h1,
h2,
h3,
h4,
.action-large,
.action-small,
.slider-text {
    font-weight: 600;
    text-transform: uppercase;
}

h2,
h3,
.action-large {
    line-height: 152%;
}

h2,
.action-large {
    letter-spacing: 16%;
}

h4,
.action-small,
.caption {
    letter-spacing: 5%;
}

h1 {
    font-size: 3.2rem;
    line-height: 150%;
}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 1.6rem;
}

p {
    font-size: 1.6rem;
    line-height: 148%;
}

.action-large {
    font-size: 2.4rem;
}

.action-small {
    font-size: 1.2rem;
    line-height: 130%;
}

.caption {
    font-family: "Allura", cursive;
    font-size: 2.4rem;
    font-weight: 400;
}

.slider-text {
    font-size: 8rem;
}

.logo-text {
    letter-spacing: 0.6px;
}
